*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}
.art{
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
}
.art h1{
    text-align: center;
    line-height: 50px;
}
.art h3{line-height: 30px;}
.art ul li{text-decoration: none;list-style: none;}
.art a{
    width: 100px;
    height: 20px;
    float: right;
}
.art img{width: 100%;}
@media screen and (max-width: 760px){
    .cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 15px; 
    }
}
@media screen and (max-width: 500px){
    .cont{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px; 
    }
    .art img{width: 80vw;}
}
